services/n8n/workflows/discovery_email.json
{
  "name": "Discovery — Email (primary)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "nodes": [
    {
      "id": "1-trigger",
      "name": "Every 2 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 2 }
          ]
        }
      }
    },
    {
      "id": "2-run-adapter",
      "name": "Poll demo_gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAIZEN_API_URL }}/discovery/run/demo_gmail",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "3-expand-ids",
      "name": "Expand new_rfp_ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "// Flatten every adapter's new_rfp_ids into one item per id.\nconst out = [];\nfor (const item of items) {\n  const body = item.json || {};\n  const adapters = body.adapters || [];\n  for (const a of adapters) {\n    for (const rid of (a.new_rfp_ids || [])) {\n      out.push({ json: { rfp_id: rid, adapter_name: a.adapter_name, adapter_type: a.adapter_type } });\n    }\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "3b-ingest-notify",
      "name": "Ingest-card sub-workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 450],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/kaizen/ingest-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"rfp_id\": \"{{ $json.rfp_id }}\" }",
        "options": { "timeout": 20000 },
        "continueOnFail": true
      },
      "notes": "Fires the 📥 card regardless of config.mode — ingestion visibility for manual-mode teams. continueOnFail so a Slack hiccup doesn't abort the main pipeline."
    },
    {
      "id": "4-orchestrate",
      "name": "POST /orchestrate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAIZEN_API_URL }}/orchestrate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"rfp_id\": \"{{ $json.rfp_id }}\" }",
        "options": { "timeout": 600000 }
      }
    },
    {
      "id": "5-filter-score",
      "name": "Fit ≥ threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ ($json.screening && $json.screening.fit_score) || 0 }}",
              "rightValue": "={{ parseInt($env.SLACK_NOTIFICATION_THRESHOLD || '75', 10) }}",
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6-fetch-rfp",
      "name": "GET /rfp/{id}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KAIZEN_API_URL }}/rfp/{{ $json.rfp_id }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "7-format-slack",
      "name": "Format Block Kit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "parameters": {
        "jsCode": "// Build a rich Slack Block Kit payload with source breadcrumb (supplemental 4.B).\nconst raw = $json;\nconst rfp = raw.rfp || {};\nconst screening = raw.screening || {};\nconst sourceType = rfp.source_type || 'unknown';\nconst meta = rfp.source_metadata || {};\nconst sender = meta.from || meta.notice_id || meta.filename || meta.url || '';\nconst received = rfp.received_at ? new Date(rfp.received_at).toLocaleString() : '';\nconst breadcrumb = sourceType === 'email'\n  ? `Source: email from ${sender} (received ${received})`\n  : sourceType === 'sam_gov'\n    ? `Source: SAM.gov notice ${meta.notice_id || rfp.external_id || ''} (received ${received})`\n    : `Source: ${sourceType} ${sender} (received ${received})`;\n\nconst rationale = screening.rationale || {};\nconst dims = (rationale.dimensions || []).slice(0).sort((a,b) => (b.weight*b.score/100) - (a.weight*a.score/100));\nconst topTwo = dims.slice(0, 2).map(d => `• *${d.name}* — score ${d.score} (weight ${d.weight}): ${(d.reasoning || '').slice(0, 160)}`).join('\\n');\n\nconst uiUrl = $env.KAIZEN_UI_URL || 'http://localhost:8501';\nconst reviewUrl = `${uiUrl}/?rfp=${rfp.id}`;\n\nconst recommendation = screening.recommendation || 'unknown';\nconst recEmoji = { pursue: ':white_check_mark:', maybe: ':grey_question:', skip: ':no_entry:' }[recommendation] || ':grey_question:';\n\nconst payload = {\n  text: `RFP screened: ${rfp.title || '(no title)'} — ${recEmoji} ${recommendation} (score ${screening.fit_score})`,\n  blocks: [\n    {\n      type: 'header',\n      text: { type: 'plain_text', text: `${recEmoji} ${rfp.title || '(no title)'}`, emoji: true }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Agency*\\n${rfp.agency || '—'}` },\n        { type: 'mrkdwn', text: `*Fit score*\\n${screening.fit_score ?? '—'}` },\n        { type: 'mrkdwn', text: `*Recommendation*\\n${recommendation}` },\n        { type: 'mrkdwn', text: `*Effort*\\n${screening.effort_estimate || '—'}` }\n      ]\n    },\n    { type: 'context', elements: [ { type: 'mrkdwn', text: breadcrumb } ] },\n    { type: 'section', text: { type: 'mrkdwn', text: `*Top reasons*\\n${topTwo || '_none surfaced_'}` } },\n    {\n      type: 'actions',\n      elements: [\n        { type: 'button', text: { type: 'plain_text', text: 'Review in dashboard' }, url: reviewUrl, style: 'primary' },\n        { type: 'button', text: { type: 'plain_text', text: 'Dismiss' }, value: `dismiss_${rfp.id}` }\n      ]\n    }\n  ]\n};\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "8-post-slack",
      "name": "POST to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      }
    }
  ],
  "connections": {
    "Every 2 minutes":      { "main": [[{ "node": "Poll demo_gmail", "type": "main", "index": 0 }]] },
    "Poll demo_gmail":      { "main": [[{ "node": "Expand new_rfp_ids", "type": "main", "index": 0 }]] },
    "Expand new_rfp_ids":   {
      "main": [[
        { "node": "Ingest-card sub-workflow", "type": "main", "index": 0 },
        { "node": "POST /orchestrate", "type": "main", "index": 0 }
      ]]
    },
    "POST /orchestrate":    { "main": [[{ "node": "Fit ≥ threshold?", "type": "main", "index": 0 }]] },
    "Fit ≥ threshold?":     { "main": [[{ "node": "GET /rfp/{id}", "type": "main", "index": 0 }], []] },
    "GET /rfp/{id}":        { "main": [[{ "node": "Format Block Kit", "type": "main", "index": 0 }]] },
    "Format Block Kit":     { "main": [[{ "node": "POST to Slack", "type": "main", "index": 0 }]] }
  }
}
