services/n8n/workflows/draft_completion_watcher.json
{
  "name": "Draft completion watcher",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "nodes": [
    {
      "id": "1-trigger",
      "name": "Every 30 seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "seconds", "secondsInterval": 30 }
          ]
        }
      }
    },
    {
      "id": "2-window",
      "name": "Compute 'since' marker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Look back a wide window every run (15 min). Per-job dedupe happens in\n// the 'Filter unsent' node downstream — so widening the window doesn't\n// produce duplicate Slack cards. This avoids the race where a job's\n// completed_at lands between two watcher ticks and slides off the\n// since-marker forever.\nconst since = new Date(Date.now() - 15 * 60 * 1000).toISOString();\nreturn [{ json: { since } }];"
      }
    },
    {
      "id": "3-list-jobs",
      "name": "GET /draft_jobs (completed since)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KAIZEN_API_URL }}/draft_jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "completed" },
            { "name": "since", "value": "={{ $json.since }}" },
            { "name": "limit", "value": "50" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "4b-filter",
      "name": "Filter unsent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1010, 300],
      "parameters": {
        "jsCode": "// Per-job dedupe: each completed-job notification fires exactly once per\n// job_id. We track notified IDs in workflow staticData with TTL pruning so\n// memory stays bounded.\nconst staticData = $getWorkflowStaticData('global');\nconst notified = staticData.notifiedJobIds || {};   // { job_id: notified_iso }\nconst TTL_HOURS = 6;\nconst cutoff = Date.now() - TTL_HOURS * 60 * 60 * 1000;\n\n// Prune anything older than TTL — keeps the dedupe set small.\nfor (const k of Object.keys(notified)) {\n  if (new Date(notified[k]).getTime() < cutoff) delete notified[k];\n}\n\nconst out = [];\nfor (const item of items) {\n  const job = item.json || {};\n  const jobId = job.id;\n  if (!jobId) continue;\n  if (notified[jobId]) continue;        // already sent\n  notified[jobId] = new Date().toISOString();\n  out.push({ json: job });\n}\n\nstaticData.notifiedJobIds = notified;\nreturn out;"
      }
    },
    {
      "id": "5-fetch-context",
      "name": "GET /rfp/{id}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KAIZEN_API_URL }}/rfp/{{ $json.rfp_id }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "6-format",
      "name": "Format draft-ready Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const raw = $json;\nconst rfp = raw.rfp || {};\nconst screening = raw.screening || {};\nconst job = $input.all().map(i => i.json)[0];\nconst draftId = (job && job.draft_id) || (raw.draft && raw.draft.id) || null;\n\nconst sourceType = rfp.source_type || 'unknown';\nconst meta = rfp.source_metadata || {};\nconst sender = meta.from || meta.notice_id || meta.filename || meta.url || '';\nconst received = rfp.received_at ? new Date(rfp.received_at).toLocaleString() : '';\nconst breadcrumb = sourceType === 'email'\n  ? `Source: email from ${sender} (received ${received})`\n  : sourceType === 'sam_gov'\n    ? `Source: SAM.gov notice ${meta.notice_id || rfp.external_id || ''} (received ${received})`\n    : `Source: ${sourceType} ${sender} (received ${received})`;\n\nconst uiUrl = $env.KAIZEN_UI_URL || 'http://localhost:8501';\nconst reviewUrl = draftId ? `${uiUrl}/?draft=${draftId}` : `${uiUrl}/?rfp=${rfp.id}`;\nconst apiUrl = $env.KAIZEN_API_URL || 'http://host.docker.internal:8000';\nconst exportUrl = draftId ? `${apiUrl}/draft/${draftId}/export` : null;\n\nconst payload = {\n  text: `:memo: Draft ready — ${rfp.title || '(no title)'}`,\n  blocks: [\n    { type: 'header', text: { type: 'plain_text', text: `:memo: Draft ready — ${rfp.title || '(no title)'}`, emoji: true } },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Agency*\\n${rfp.agency || '—'}` },\n        { type: 'mrkdwn', text: `*Fit score*\\n${screening.fit_score ?? '—'}` },\n        { type: 'mrkdwn', text: `*Recommendation*\\n${screening.recommendation || '—'}` },\n        { type: 'mrkdwn', text: `*Draft id*\\n\\`${draftId || '(unknown)'}\\`` }\n      ]\n    },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: breadcrumb }] },\n    {\n      type: 'actions',\n      elements: [\n        { type: 'button', text: { type: 'plain_text', text: 'Open in dashboard' }, url: reviewUrl, style: 'primary' },\n        ...(exportUrl ? [{ type: 'button', text: { type: 'plain_text', text: 'Download .md' }, url: exportUrl }] : [])\n      ]\n    }\n  ]\n};\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "7-post-slack",
      "name": "POST to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      }
    }
  ],
  "connections": {
    "Every 30 seconds":                { "main": [[{ "node": "Compute 'since' marker", "type": "main", "index": 0 }]] },
    "Compute 'since' marker":          { "main": [[{ "node": "GET /draft_jobs (completed since)", "type": "main", "index": 0 }]] },
    "GET /draft_jobs (completed since)": { "main": [[{ "node": "Filter unsent", "type": "main", "index": 0 }]] },
    "Filter unsent":                   { "main": [[{ "node": "GET /rfp/{id}", "type": "main", "index": 0 }]] },
    "GET /rfp/{id}":                   { "main": [[{ "node": "Format draft-ready Slack", "type": "main", "index": 0 }]] },
    "Format draft-ready Slack":        { "main": [[{ "node": "POST to Slack", "type": "main", "index": 0 }]] }
  }
}
